:root {
  --bg: #040420;
  --textColor: #a9a9a9;
  --textColorName: #e5e0e0;
  --bg-avatar: #bd0874;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.section {
  scroll-margin-top: 80px;
}

body {
  background: linear-gradient(
    0deg,
    rgba(189, 8, 116, 1) 0%,
    rgba(4, 4, 32, 1) 7%
  );
  color: var(--textColor);
  font-family: "Nunito", sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  width: 365px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(4,4,32,0.9);
  padding: 0 20px;
  z-index: 1000;
}

.nav_logo_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* contenedor lateral (oculto por defecto) */
.nav_container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70vw;
  max-width: 420px;
  height: 100vh;
  background-color: rgba(4,4,32,0.95);
  border-left: 2px solid var(--bg-avatar);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 1500;
}

/* cuando se activa */
.nav_container.active {
  right: 0;
}

/* enlaces del menú */
.nav_link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav_link a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.nav_link a:hover{
  color: var(--bg-avatar);
}

.btn_menu {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1600;
  background: transparent;
  border: 1px solid var(--bg-avatar);
  border-radius: 6px;
  padding: 6px;
}

h2 {
  color: var(--textColorName);
  padding: 20px;
  font-size: 1.3rem;
}

.header {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.header_title {
  color: var(--textColor);
  padding: 0;
  font-size: 1.5rem;
}

.header_name {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--textColorName);
  margin-top: 5px;
}

.header_profession {
  font-family: "Playwrite DE SAS", cursive;
}

.header_avatar {
  width: 150px;
  height: 200px;
  border-radius: 15px;
  background: transparent;
}

.header_container_avatar {
  margin: 40px auto 15px auto;
  max-width: 150px;
  position: relative;
}

.header_avatar_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 200px;
  z-index: -1;
  background: linear-gradient(90deg, #ff0080 7%, rgba(3, 3, 38, 1) 74%);
  border-radius: 220px 40px 20px 19px;
}

.header_container_info {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header_button,
.project_button {
  background-color: transparent;
  color: var(--bg-avatar);
  padding: 8px;
  border-radius: 10px;
  border: 0.5px solid var(--bg-avatar);
  cursor: pointer;
}

.header_button:hover,
.project_button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  box-shadow: 3px 3px 8px 0px rgba(145, 10, 86, 0.6);
}

.header_socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}

.header_socials a:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 6px #ff0080);
  transition: all 0.3s ease;
}

.sobre_mi_title {
  margin-top: 20px;
}

.sobre_mi_container {
  width: 100%;
  max-width: 320px;
  text-align: center;
  margin-bottom: 40px;
}

.sobre_mi_description {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 30px;
}

.skill_name {
  margin-bottom: 30px;
}

.skill_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 40px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.skill_container p {
  font-size: 0.9rem;
}

.project_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  width: 100%;
  max-width: 375px;
  text-align: center;
  margin-bottom: 50px;
}

.project_title {
  margin-bottom: 30px;
}

.project_img {
  max-width: 180px;
  height: 180px;
  margin-bottom: 15px;
}
.project_name {
  color: var(--textColorName);
}

.project_description {
  margin-bottom: 10px;
}
.project_button_container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  max-width: 180px;
  margin-bottom: 10px;
}
.project_tecnologies_container {
  margin-bottom: 25px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 160px;
  width: 375px;
}

.footer_container_logo {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 0.9rem;
}

.footer_contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_contact_msj {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_contact span {
  color: var(--bg-avatar);
}

.footer_contact a {
  width: 28px;
  background-color: transparent;
  border: none;
}

.footer_contact a:hover {
  cursor: pointer;
}

.footer_contact_email,
.footer_contact_wsp {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
}

@media (min-width: 768px) {

  .nav{
  width: 590px;
  }

  .btn_menu {
    display: block;
    position: relative;
    
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    border-left: 3px solid #ff0080;
    border-right: 3px solid #ff0080;
    padding: 0 20px;
  }

  h2 {
    font-size: 1.7rem;
  }
  .header {
    max-width: 700px;
  }

  .header_title {
    font-size: 1.8rem;
  }
  .header_name {
    font-size: 2rem;
  }

  .header_profession {
    font-size: 1.5rem;
  }

  .header_avatar {
    width: 190px;
    height: 248px;
  }

  .header_container_avatar {
    margin: 40px auto 15px auto;
    max-width: 150px;
    position: relative;
  }

  .header_button {
    width: 130px;
    height: 40px;
  }

  .icon {
    width: 35px;
    height: 35px;
    margin-left: 5px;
  }

  .sobre_mi_container {
    max-width: 400px;
  }

  .sobre_mi_description,
  .sobre_mi_profession {
    font-size: 1.3rem;
  }

  .skill_icon {
    width: 60px;
    height: 60px;
  }

  .skill_container p {
    font-size: 1.3rem;
  }

  .project_img {
    max-width: 210px;
    height: 230px;
  }
  .project_name {
    font-size: 1.5rem;
  }

  .project_description {
    font-size: 1.3rem;
  }

  .project_button {
    height: 50px;
    width: 180px;
    font-size: 1rem;
  }

  .project_button_container {
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
 .nav {
    width: 800px;
    height: 80px;
  }

  .nav_logo_container {
    font-size: 1.2rem;
  }

  .nav_container {
    position: static;
    right: auto;
    width: auto;
    height: auto;
    background: transparent;
    border: none;
  }

  .btn_menu {
    display: none;
  }

   .nav_link {
    flex-direction: row;
    gap: 30px;
  }

  .container {
    max-width: 1000px;
  }

  .header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    max-width: 850px;
    margin: 0;
  }

  .header_title {
    font-size: 2.2rem;
  }

  .header_name {
    font-size: 2.5rem;
  }

  .header_avatar {
    width: 220px;
    height: 300px;
  }

  .header_container_avatar {
    margin-bottom: 40px;
  }

  .header_avatar_bg {
    top: 0;
    left: 0;
    width: 200px;
    height: 270px;
    border-radius: 220px 40px 20px 19px;
  }

  .header_button {
    font-size: 1rem;
  }

  .sobre_mi_container,
  .skill_container {
    max-width: 700px;
  }

  .skill_container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .project_container {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
  }


  .footer_container{
    width: 600px;
  }
  .footer_container_logo p {
    font-size: 1.1rem;
  }

  .footer_contact_msj {
    font-size: 1.3rem;
  }

  .p_contact{
    font-size: 1rem;
  }


}
